<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/axios/0.21.1/dist/axios.min.js}"></script>
    <script th:src="@{/js/fingerprint2.min.js}"></script>
    <link th:href="@{/favicon.ico}" rel="icon">
    <title>Application</title>
</head>
<body>
<h1>TEST INDEX</h1>
<input type="button" id="get_api_test_btn" value="TEST GET" onclick="testGetAPI()">
<input type="button" id="post_api_test_btn" value="TEST POST" onclick="testPostAPI()">
<form action="#" id="logout_form" method="post" th:action="@{/do_logout}">
    <input type="submit" value="Logout"/>
</form>
<input type="text" id="result_text" value="">
<script>
    const CSRF_TOKEN = document.cookie.match(new RegExp(`XSRF-TOKEN=([^;]+)`));
    if (CSRF_TOKEN !== undefined && CSRF_TOKEN !== null ) {
        axios.defaults.headers.post['X-XSRF-TOKEN'] = CSRF_TOKEN[1];
    }

    axios.interceptors.response.use(function (response) {
        const _csrf = document.cookie.match(new RegExp(`XSRF-TOKEN=([^;]+)`));
        if (_csrf !== undefined && _csrf !== null) {
            document.getElementsByName('_csrf').forEach(el => el.value = _csrf[1]);
        }
        return response;
    }, async function (err) {
        if (err?.response?.status === 403 && err.response.headers.fp_request !== undefined) {
            const _fp = await getFingerprint();

            const params = new URLSearchParams();
            params.append('_fingerprint', _fp);

            try {
                const refreshResponse = await axios.post(err.response.headers.fp_request, params, {withCredentials:true});
                const refreshObject = JSON.parse(refreshResponse.data.text);
                await axios.get(`/?token=${refreshObject.token}&serverTime=${refreshObject.serverTime}`);
                return await axios.request(err.response.config);
            } catch (authError) {
                if (authError.response.status === 401) {
                    window.location.href = '/';
                    return;
                } else {
                    throw authError;
                }
            }
        } else {
            throw err;
        }
    });

    function testGetAPI() {
        axios.get('/api/get/test/42')
            .then(resp => {
                document.getElementById('result_text').value = `${resp.data.name}   ${resp.data.value}`;
                console.log(resp);
            })
    }

    function testPostAPI() {
        axios.post('/api/post/test/24')
            .then(resp => {
                document.getElementById('result_text').value = `${resp.data.name}   ${resp.data.value}`;
                console.log(resp);
            })
    }

    function getFingerprint() {
        return new Promise((resolve, reject) => {
            async function getHash () {
                const options = {
                    excludes: {
                        plugins: true,
                        localStorage: true,
                        adBlock: true,
                        screenResolution: true,
                        availableScreenResolution: true,
                        enumerateDevices: true,
                        pixelRatio: true,
                        doNotTrack: true
                    }
                }

                try {
                    const components = await Fingerprint2.getPromise(options);
                    const values = components.map(component => component.value);
                    return String(Fingerprint2.x64hash128(values.join(''), 31));
                } catch (e) {
                    reject(e);
                }
            }

            if (window.requestIdleCallback) {
                requestIdleCallback(async () => resolve(await getHash()));
            } else {
                setTimeout(async () => resolve(await getHash()), 500);
            }
        });
    }
</script>
</body>
</html>